# Mac
.DS_Store

# Go
/backend/bin/
/backend/tmp/

# Rust
/shared_core/target/

# iOS
/ios/build/
/ios/DerivedData/
*.xcworkspace
xcuserdata/

ios/LogNCoreFFI/*.xcframework
ios/LogNCoreFFI/*.zip
tools_i18n/target/

backend/logn-backend
